/* AA-Icons */
/* NOTE: Custom AA icons */

.aa-icon-action-cancel:before {
     content: "\f101"
}

.aa-icon-action-copy:before {
     content: "\f102"
}

.aa-icon-action-create:before {
     content: "\f103"
}

.aa-icon-action-customize-table:before {
     content: "\f104"
}

.aa-icon-action-dashboard-export:before {
     content: "\f105"
}

.aa-icon-action-dashboard-filter:before {
     content: "\f106"
}

.aa-icon-action-dashboard-fullscreen:before {
     content: "\f107"
}

.aa-icon-action-dashboard-style:before {
     content: "\f108"
}

.aa-icon-action-delete:before {
     content: "\f109"
}

.aa-icon-action-edit:before {
     content: "\f10a"
}

.aa-icon-action-email:before {
     content: "\f10b"
}

.aa-icon-action-entry-archive:before {
     content: "\f10c"
}

.aa-icon-action-entry-restore:before {
     content: "\f10d"
}

.aa-icon-action-export-selected-item:before {
     content: "\f10e"
}

.aa-icon-action-export:before {
     content: "\f10f"
}

.aa-icon-action-favorite--not-selected:before {
     content: "\f110"
}

.aa-icon-action-favorite--selected:before {
     content: "\f111"
}

.aa-icon-action-import:before {
     content: "\f112"
}

.aa-icon-action-install-license:before {
     content: "\f113"
}

.aa-icon-action-link-external:before {
     content: "\f114"
}

.aa-icon-action-link-internal:before {
     content: "\f115"
}

.aa-icon-action-lock--unlocked:before {
     content: "\f116"
}

.aa-icon-action-pause:before {
     content: "\f117"
}

.aa-icon-action-reading-pane-hide:before {
     content: "\f118"
}

.aa-icon-action-reading-pane-show:before {
     content: "\f119"
}

.aa-icon-action-refresh:before {
     content: "\f11a"
}

.aa-icon-action-remove:before {
     content: "\f11b"
}

.aa-icon-action-resume:before {
     content: "\f11c"
}

.aa-icon-action-run:before {
     content: "\f11d"
}

.aa-icon-action-schedule-bot:before {
     content: "\f11e"
}

.aa-icon-action-toggle--disabled:before {
     content: "\f11f"
}

.aa-icon-action-toggle--enabled:before {
     content: "\f120"
}

.aa-icon-action-view-info--hidden:before {
     content: "\f121"
}

.aa-icon-action-view-info--visible:before {
     content: "\f122"
}

.aa-icon-action-view:before {
     content: "\f123"
}

.aa-icon-action-workload-mark-complete:before {
     content: "\f124"
}

.aa-icon-action-workload-mark-ready-to-run:before {
     content: "\f125"
}

.aa-icon-action-zoom-fit:before {
     content: "\f126"
}

.aa-icon-action-zoom-in:before {
     content: "\f127"
}

.aa-icon-action-zoom-out:before {
     content: "\f128"
}

.aa-icon-activity-in-progress--default:before {
     content: "\f129"
}

.aa-icon-activity-in-progress--paused:before {
     content: "\f12a"
}

.aa-icon-activity-navigation:before {
     content: "\f12b"
}

.aa-icon-activity-scheduled--default:before {
     content: "\f12c"
}

.aa-icon-activity-scheduled--one-time:before {
     content: "\f12d"
}

.aa-icon-activity-scheduled--recurring:before {
     content: "\f12e"
}

.aa-icon-administration-navigation:before {
     content: "\f12f"
}

.aa-icon-audit-log--default:before {
     content: "\f130"
}

.aa-icon-audit-log-navigation:before {
     content: "\f131"
}

.aa-icon-bot--default:before {
     content: "\f132"
}

.aa-icon-bot--iq-bot:before {
     content: "\f133"
}

.aa-icon-bot--metabot:before {
     content: "\f134"
}

.aa-icon-bot--workflow:before {
     content: "\f135"
}

.aa-icon-bot-navigation:before {
     content: "\f136"
}

.aa-icon-botinsight-navigation:before {
     content: "\f137"
}

.aa-icon-business-process--default:before {
     content: "\f138"
}

.aa-icon-business-process-navigation:before {
     content: "\f139"
}

.aa-icon-credential--default:before {
     content: "\f13a"
}

.aa-icon-credential--standard:before {
     content: "\f13b"
}

.aa-icon-credential--user-created:before {
     content: "\f13c"
}

.aa-icon-dashboard--default:before {
     content: "\f13d"
}

.aa-icon-dashboard--system-created:before {
     content: "\f13e"
}

.aa-icon-dashboard--user-created:before {
     content: "\f13f"
}

.aa-icon-dashboard-navigation:before {
     content: "\f140"
}

.aa-icon-device--bot-creator:before {
     content: "\f141"
}

.aa-icon-device--bot-pool:before {
     content: "\f142"
}

.aa-icon-device--bot-runner:before {
     content: "\f143"
}

.aa-icon-device--default:before {
     content: "\f144"
}

.aa-icon-device--vm-image:before {
     content: "\f145"
}

.aa-icon-device-navigation:before {
     content: "\f146"
}

.aa-icon-file--default:before {
     content: "\f147"
}

.aa-icon-file--document:before {
     content: "\f148"
}

.aa-icon-file--executable:before {
     content: "\f149"
}

.aa-icon-file--report:before {
     content: "\f14a"
}

.aa-icon-file--script:before {
     content: "\f14b"
}

.aa-icon-file--workflow:before {
     content: "\f14c"
}

.aa-icon-folder--closed:before {
     content: "\f14d"
}

.aa-icon-folder--default:before {
     content: "\f14e"
}

.aa-icon-folder--open:before {
     content: "\f14f"
}

.aa-icon-folder-selected--closed:before {
     content: "\f150"
}

.aa-icon-folder-selected--open:before {
     content: "\f151"
}

.aa-icon-locker--default:before {
     content: "\f152"
}

.aa-icon-locker--standard:before {
     content: "\f153"
}

.aa-icon-locker--user-created:before {
     content: "\f154"
}

.aa-icon-migration--default:before {
     content: "\f155"
}

.aa-icon-migration-navigation:before {
     content: "\f156"
}

.aa-icon-misc-button-list-actions:before {
     content: "\f157"
}

.aa-icon-misc-caret--left:before {
     content: "\f158"
}

.aa-icon-misc-caret--right:before {
     content: "\f159"
}

.aa-icon-misc-message-system-level-arrow:before {
     content: "\f15a"
}

.aa-icon-misc-message-system-level-close:before {
     content: "\f15b"
}

.aa-icon-misc-message-system-warning:before {
     content: "\f15c"
}

.aa-icon-misc-search-filter-dropdown-arrow:before {
     content: "\f15d"
}

.aa-icon-misc-search-filter-dropdown-selected:before {
     content: "\f15e"
}

.aa-icon-misc-search-filter-object-bar-cancel:before {
     content: "\f15f"
}

.aa-icon-misc-search-filter-search:before {
     content: "\f160"
}

.aa-icon-misc-sort--ascending-1:before {
     content: "\f161"
}

.aa-icon-misc-sort--ascending-2:before {
     content: "\f162"
}

.aa-icon-misc-sort--ascending-3:before {
     content: "\f163"
}

.aa-icon-misc-sort--ascending:before {
     content: "\f164"
}

.aa-icon-misc-sort--descending-1:before {
     content: "\f165"
}

.aa-icon-misc-sort--descending-2:before {
     content: "\f166"
}

.aa-icon-misc-sort--descending-3:before {
     content: "\f167"
}

.aa-icon-misc-sort--descending:before {
     content: "\f168"
}

.aa-icon-misc-table-actions-menu:before {
     content: "\f169"
}

.aa-icon-misc-tbd:before {
     content: "\f16a"
}

.aa-icon-misc-toast-close:before {
     content: "\f16b"
}

.aa-icon-queue--default:before {
     content: "\f16c"
}

.aa-icon-queue--not-in-use:before {
     content: "\f16d"
}

.aa-icon-queue-template--default:before {
     content: "\f16e"
}

.aa-icon-role--default:before {
     content: "\f16f"
}

.aa-icon-role--system-created:before {
     content: "\f170"
}

.aa-icon-role--user-created:before {
     content: "\f171"
}

.aa-icon-tray-favorites--empty:before {
     content: "\f172"
}

.aa-icon-tray-favorites-hold-and-drag:before {
     content: "\f173"
}

.aa-icon-tray-favorites-unfavorite:before {
     content: "\f174"
}

.aa-icon-tray-favorites:before {
     content: "\f175"
}

.aa-icon-tray-help:before {
     content: "\f176"
}

.aa-icon-tray-notifications-close:before {
     content: "\f177"
}

.aa-icon-tray-notifications-empty:before {
     content: "\f178"
}

.aa-icon-tray-notifications-go-to-arrow:before {
     content: "\f179"
}

.aa-icon-tray-notifications:before {
     content: "\f17a"
}

.aa-icon-tray-profile:before {
     content: "\f17b"
}

.aa-icon-user--admin-disabled:before {
     content: "\f17c"
}

.aa-icon-user--admin:before {
     content: "\f17d"
}

.aa-icon-user--bot-creator-disabled:before {
     content: "\f17e"
}

.aa-icon-user--bot-creator:before {
     content: "\f17f"
}

.aa-icon-user--bot-runner-disabled:before {
     content: "\f180"
}

.aa-icon-user--bot-runner:before {
     content: "\f181"
}

.aa-icon-user--default-disabled:before {
     content: "\f182"
}

.aa-icon-user--default:before {
     content: "\f183"
}

.aa-icon-user--other-disabled:before {
     content: "\f184"
}

.aa-icon-user--other:before {
     content: "\f185"
}

.aa-icon-work-item--default:before {
     content: "\f186"
}

.aa-icon-work-item--on-hold:before {
     content: "\f187"
}

.aa-icon-work-item--ready-to-run:before {
     content: "\f188"
}

.aa-icon-workload-navigation:before {
     content: "\f189"
}
