/* Animation */

.animate-25s {
     animation-fill-mode: both;
     animation-duration: .25s;
}
.ux-slide-out {
    // future animation
}

.animate-gradient-button {
    background: linear-gradient(25deg, #FFBC03, #FF5A10, #FFBC03, #FF5A10);
	background-size: 400% 400%;
    animation: gradientBG 8s ease infinite;
    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}