/* Buttons */

.button {
     background: $mineshaft1-10;
     border: none;
     border-radius: 3px;
     color: $low-contrast;
     height: 32px;
     padding: 0 16px;
     &.button-primary {
          background: $blue1-3;
          color: $high-contrast;
          &:hover {
               background: $blue1-2;
          }
          &:active {
               background: $blue1-1;
          }
     }
     &.button-default {
          background: $mineshaft1-10;
          &:hover {
               background: $mineshaft1-9;
          }
          &:active {
               background: $mineshaft1-8;
          }
     }
     &.button-subtle {
          background: none;
          &:hover {
               background: $mineshaft1-10;
          }
          &:active {
               background: $mineshaft1-9;
          }
     }
     &.button-error {
          background: none;
          &:hover {
               background: $mineshaft1-10;
          }
          &:active {
               background: $mineshaft1-9;
          }
     }
}
