/**** UI Color Palette ****/

$blue-100:               #e7ebf0;
$blue-200:               #a1b0c1;
$blue-300:               #7189a3;
$blue-400:               #426184;
$blue-500:               #133a65;
$blue-600:               #0f2e51;

$bright-orange-100:      #ffefe7;
$bright-orange-200:      #ffbd9f;
$bright-orange-300:      #ff9c70;
$bright-orange-400:      #ff7b40;
$bright-orange-500:      #ff5a10;
$bright-orange-600:      #cc480d;

$gray-100:               #eeeeee;
$gray-200:               #cccccc;
$gray-25:                #f9f9f9;
$gray-300:               #999999;
$gray-400:               #707070;
$gray-50:                #f5f5f5;
$gray-500:               #5c5c5c;
$gray-600:               #333333;

$green-100:              #f5f6eb;
$green-200:              #e1e5c3;
$green-300:              #d2e3a2;
$green-400:              #b9c273;
$green-500:              #9ba837;
$green-600:              #5d6521;

$orange-100:             #fef5eb;
$orange-200:             #fdd7b0;
$orange-300:             #fbc389;
$orange-400:             #faaf61;
$orange-500:             #f99b3a;
$orange-600:             #955d23;

$red-100:                #fcece9;
$red-200:                #f4b4a8;
$red-300:                #ee8f7d;
$red-400:                #e96951;
$red-500:                #e34426;
$red-600:                #b6361e;

$utility-blue:           #105fb3;

$warm-gray-100:          #c5c4c3;
$warm-gray-200:          #9e9c9b;
$warm-gray-300:          #787474;
$warm-gray-400:          #656160;
$warm-gray-500:          #514d4c;
$warm-gray-600:          #3e3938;

$white-500:              #ffffff;

$yellow-100:             #fff8e6;
$yellow-200:             #ffe49a;
$yellow-300:             #ffd768;
$yellow-400:             #ffc935;
$yellow-500:             #ffbc03;
$yellow-600:             #805e01;

$error:                  #cc3d22;
$major:                  #ff7a00;
$minor:                  #ffab00;
$success:                #007700;
