/**** Fonts ****/
/** h1 **/
$h1-font-family: 'Museo Sans', 'MuseoSans-300';
$h1-font-size: 72px;
$h1-letter-spacing: 0px;
$h1-line-height: 100%;
$h1-font-weight: 300;
$h1-color: $gray-600;

@mixin h1() {
  font-family: $h1-font-family;
  font-size: $h1-font-size;
  letter-spacing: $h1-letter-spacing;
  line-height: $h1-line-height;
  font-weight: $h1-font-weight;
  color: $h1-color;
}
/** h2 **/
$h2-font-family: 'Museo Sans', 'MuseoSans-500';
$h2-font-size: 44px;
$h2-letter-spacing: 0px;
$h2-line-height: 100%;
$h2-font-weight: 500;
$h2-color: $gray-600;

@mixin h2() {
  font-family: $h2-font-family;
  font-size: $h2-font-size;
  letter-spacing: $h2-letter-spacing;
  line-height: $h2-line-height;
  font-weight: $h2-font-weight;
  color: $h2-color;
}
/** h3 **/
$h3-font-family: 'Museo Sans', 'MuseoSans-500';
$h3-font-size: 36px;
$h3-letter-spacing: 0px;
$h3-line-height: 100%;
$h3-font-weight: 500;
$h3-color: $gray-600;

@mixin h3() {
  font-family: $h3-font-family;
  font-size: $h3-font-size;
  letter-spacing: $h3-letter-spacing;
  line-height: $h3-line-height;
  font-weight: $h3-font-weight;
  color: $h3-color;
}
/** h4 **/
$h4-font-family: 'Museo Sans', 'MuseoSans-500';
$h4-font-size: 24px;
$h4-letter-spacing: 0px;
$h4-line-height: 100%;
$h4-font-weight: 500;
$h4-color: $gray-600;

@mixin h4() {
  font-family: $h4-font-family;
  font-size: $h4-font-size;
  letter-spacing: $h4-letter-spacing;
  line-height: $h4-line-height;
  font-weight: $h4-font-weight;
  color: $h4-color;
}
/** h5 **/
$h5-font-family: 'Museo Sans', 'MuseoSans-500';
$h5-font-size: 18px;
$h5-letter-spacing: 0px;
$h5-line-height: 24px;
$h5-font-weight: 500;
$h5-color: $gray-600;

@mixin h5() {
  font-family: $h5-font-family;
  font-size: $h5-font-size;
  letter-spacing: $h5-letter-spacing;
  line-height: $h5-line-height;
  font-weight: $h5-font-weight;
  color: $h5-color;
}

/** body **/
$body: 'Museo Sans', 'MuseoSans-500';
$body-font-size: 14px;
$body-letter-spacing: 0px;
$body-line-height: 18px;
$body-font-weight: 500;
$body-color: $gray-600;

@mixin body() {
  font-family: $body;
  font-size: $body-font-size;
  letter-spacing: $body-letter-spacing;
  line-height: $body-line-height;
  font-weight: $body-font-weight;
  color: $body-color;
}
/** body-strong **/
$body-strong: 'Museo Sans', 'MuseoSans-700';
$body-strong-font-size: 14px;
$body-strong-letter-spacing: 0px;
$body-strong-line-height: 18px;
$body-strong-font-weight: 700;
$body-strong-color: $gray-600;

@mixin body-strong() {
  font-family: $body-strong;
  font-size: $body-strong-font-size;
  letter-spacing: $body-strong-letter-spacing;
  line-height: $body-strong-line-height;
  font-weight: $body-strong-font-weight;
  color: $body-strong-color;
}
/** caption **/
$caption-font-family: 'Museo Sans', 'MuseoSans-500';
$caption-font-size: 12px;
$caption-letter-spacing: 0px;
$caption-line-height: 16px;
$caption-font-weight: 500;
$caption-color: $gray-600;

@mixin caption() {
  font-family: $caption-font-family;
  font-size: $caption-font-size;
  letter-spacing: $caption-letter-spacing;
  line-height: $caption-line-height;
  font-weight: $caption-font-weight;
  color: $caption-color;
}
/** caption-strong **/
$caption-strong-font-family: 'Museo Sans', 'MuseoSans-700';
$caption-strong-font-size: 12px;
$caption-strong-letter-spacing: 0px;
$caption-strong-line-height: 16px;
$caption-strong-font-weight: 700;
$caption-strong-color: $gray-600;

@mixin caption-strong() {
  font-family: $caption-strong-font-family;
  font-size: $caption-strong-font-size;
  letter-spacing: $caption-strong-letter-spacing;
  line-height: $caption-strong-line-height;
  font-weight: $caption-strong-font-weight;
  color: $caption-strong-color;
}
/** link **/
$link-font-family: 'Museo Sans', 'MuseoSans-500';
$link-font-size: 14px;
$link-letter-spacing: 0px;
$link-line-height: 18px;
$link-font-weight: 500;
$link-text-decoration: underline;
$link-color: $gray-600;

@mixin link() {
  font-family: $link-font-family;
  font-size: $link-font-size;
  letter-spacing: $link-letter-spacing;
  line-height: $link-line-height;
  font-weight: $link-font-weight;
  text-decoration: $link-text-decoration;
  color: $link-color;
}
/** section **/
$section-font-family: 'Museo Sans', 'MuseoSans-500';
$section-font-size: 12px;
$section-letter-spacing: 0.4px;
$section-line-height: 16px;
$section-font-weight: 500;
$section-text-transform: uppercase;
$section-color: $gray-600;

@mixin section() {
  font-family: $section-font-family;
  font-size: $section-font-size;
  letter-spacing: $section-letter-spacing;
  line-height: $section-line-height;
  font-weight: $section-font-weight;
  text-transform: $section-text-transform;
  color: $section-color;
}