/* Layout */


.app-shell {
     display: flex;
     flex-direction: row;
     height: 100%;
     width: 100%;
     .app-shell__content {
          flex: 1;
          display: flex;
          flex-direction: column;
          .workarea__content {
               .content__main {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    .workspace-page {
                         flex: 1;
                    }
                    .workarea__header {
                         display: flex;
                         flex-direction: row;
                         align-items: center;
                         height: $header-height--xl;
                         padding: 0 24px 0 4px; /* Takes into account extra spacing in sidenav container */
                         border-bottom :1px solid #eee; 
                    }
                    .workarea__page {
                         padding: 16px 16px 16px 0;
                    }
               }
          }
     }
}

$optionsPanelWidth: 240px;
$detailsPanelWidth: 800px;

.panel__options, .panel__canvas, .panel__details {
     padding: 16px;
}
.panel__options {
     width: $optionsPanelWidth;
     background: #f9f9f9;
     border-right :1px solid #ccc;
}
.panel__canvas {
     background: #E0E9F2;
}
.panel__details {
     position: relative;
     background: #f3f3f3;
     border-left :1px solid #ccc;
     .toggle-panel {
          position: absolute;
          top: 50%;
          left: -16px;
     }
}

/* Wrkarea */
@media screen and (min-width: 1280px) {
     .workarea__content {

     }
}
/* <1280px Screens */
@media screen and (max-width: 1279px) {
     .workarea__content {
       
     }
}

// Sidenav - toggle pages jQuery
.workspace-page {
     display: none;
     &.show-page {
          display: block;
     }
}
