/* Mixins */

/* Animated  Transition */

@mixin transition-default($args, $speed) {
     transition: $args $speed ease-in-out;
}
@mixin transition-bounce($args, $speed) {
     transition: $args $speed cubic-bezier(0.68, -0.55, 0.265, .55);
     // transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, .55);
}
@mixin transition-bounce-reverse($args, $speed) {
     transition: $args $speed cubic-bezier(0.68, .3, .01, 1.55);
}
