/* Sidenav */

@mixin shellTheme {
     color: #fff;
     border-right :1px solid $border-color;
     // background: #4f4f4f;
     background: linear-gradient(180deg, #4F4F4F 48.34%, #5f5f5f 100%), #4F4F4F;
}
$sidenavWidth: 240px;

.btn-secondary {
     background: #f6f6f6;
     border: none;
     color: #666;
}

.app-shell__sidenav {
     position: relative;
     display: flex;
     flex-direction: row;
     width: 260px;
     @include transition-bounce-reverse(width, .25s);
     .app-shell__sidenav-content {
          display: flex;
          flex-direction: column;
          width: $sidenavWidth;
          @include shellTheme();
          .app-shell_sidenav-toggle {
               position: absolute;
               top: 70px;
               right: 6px;
               z-index: 9999;
               display: flex;
               flex-direction: column;
               visibility: hidden;
               opacity: 0;
               align-items: center;
               justify-content: center;
               border: 1px solid $white;
               border-radius: 50%;
               background: $white;
               width: 32px;
               height: 32px;
               justify-content: center;
               align-content: center;
               // box-shadow: rgba(255, 255, 255, 255) 0px 0px 0px 1px;
               @include transition-default(opacity, .25s);
               text-decoration: none;
               .icon {
                    padding-right: 4px;
                    width: 32px;
                    text-align: center;
                    color: $magma;
                    font-size: 18px;
               }
               &:hover {
                    @include transition-default(background, .25s);
                    background: #FCDDCF;
                    .icon {
                         @include transition-default(color, .25s);
                         color: #DA4D0E;
                    }
               }
          }
          .logo-aa {
               min-height: 84px;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               // padding: 16px 0;
               .logo-1 {
                    width: 148px;
                    display: block;
               }
               .logo-2 {
                    width: 40px;
                    display: none;
               }
          }
          .app-shell__sidenav-list {
               flex: 1;
               list-style: none;
               margin: 0;
               padding: 0;
               &:last-child {
                    flex: 0;
                    padding-bottom: 16px;
               }
               li {
                    a {
                         min-height: 48px;
                         display: flex;
                         align-items: center; // vertical align content
                         flex-wrap: wrap;
                         color: #ccc;
                         width: 100%;
                         text-decoration: none;
                         .icon, > span {
                              line-height: 40px;
                              max-height: 40px;
                         }
                         .icon {
                              font-size: 18px;
                              text-align: center;
                              padding: 0 8px 0 24px;
                         }
                         > span {
                              flex: 1;
                              position: relative;
                              text-align: left;
                              overflow: hidden;
                              white-space: nowrap;
                              text-overflow: ellipsis;
                              text-decoration: none;
                              opacity: 1;
                              @include transition-default(opacity, .25s);
                         }
                         &.active {
                              background: rgba(0, 0, 0, .5);
                              &:hover {
                                   cursor: default;
                                   background: rgba(0, 0, 0, .5);
                              }
                         }
                         &:hover {
                              cursor: pointer;
                              background: rgba(0, 0, 0, .2);
                              @include transition-default(background, .25s);
                         }
                    }
                    &.sidenav-list__group {
                         &.with-subgroup {
                              position: relative;
                              > .sidenav-list__subgroup {
                                   display: flex;
                                   position: absolute;
                                   top: -1%;
                                   left: 100%;
                                   background: $white;
                                   color: $mineshaft;
                                   list-style: none;
                                   padding: 0;
                                   flex-direction: row;
                                   flex-wrap: wrap;
                                   box-shadow: rgba(0, 0, 0, .25) 0 0 16px;
                                   opacity: 0;
                                   @include transition-default(opacity, .25s);
                                   &.sidenav-list__subgroup {
                                        width: 100%;
                                        min-width: $sidenavWidth;
                                        li {
                                             width: 100%;
                                             a {
                                                  color: $mineshaft;
                                                  padding-left: 32px;
                                             }
                                        }
                                   }
                              }
                              &:hover {
                                   .sidenav-list__subgroup {
                                        opacity: 1;
                                   }
                              }
                         }
                    }
               }
          }
     }
     &:hover {
          .app-shell_sidenav-toggle {
               visibility: visible;
               opacity: 1;
          }
     }
     &.collapsed {
          @include transition-bounce(width, .15s);
          width: 88px;
          .app-shell__sidenav-content {
               width: 64px;
               .app-shell__sidenav-list {
                    > li {
                         a {
                              span {
                                   opacity: 0;
                                   @include transition-default(opacity, .25s);
                              }
                         }
                    }
               }
               .app-shell__sidenav-list {
                    > li {
                         &.sidenav-list__group {
                              > ul {
                                   // max-height: 0;
                                   // @include transition-default(max-height, .25s);
                              }
                         }
                         
                    }
               }
          }
     }
}
.app-shell__header {
     height: $header-height--default;
}
.workarea__header {
     height: $header-height--xl;
     border-bottom: 1px solid #eee;
}
.workarea__content {
     flex: 1;
}
