/* Typography */

/* Include webfonts */
@import 'webfonts';

body {
     font-family: 'Museo Sans', Helvetica, Arial, sans-serif;
     font-size: 16px;
}

h1 {
     @include h1;
}

h2 {
     @include h2;
}

h3 {
     @include h3;
}

h4 {
     @include h4;
}

h5 {
     @include h5;
}




.font-size-extra-large {
     font-size: 24px;
     line-height: 24px
}

.font-size-large {
     font-size: 18px;
     line-height: 18px
}

.font-size-medium-2 {
     font-size: 15px;
     line-height: 15px
}

.font-size-medium {
     font-size: 14px;
     line-height: 14px
}

.font-size-small-2 {
     font-size: 13px;
     line-height: 13px
}

.font-size-small {
     font-size: 12px;
     line-height: 12px
}

.font-size-extra-small-2 {
     font-size: 11px;
     line-height: 11px
}

.font-size-extra-small {
     font-size: 10px;
     line-height: 10px
}

.font-size-super-small-3 {
     font-size: 9px;
     line-height: 9px
}

.font-size-super-small-2 {
     font-size: 8px;
     line-height: 8px
}

.font-size-super-small {
     font-size: 6px;
     line-height: 6px
}



/* AA Icons - Custom Icons */

$icon-size-default: 18px;

.aa-icon {
     display: inline-block;
     font-family: aa-icons;
     font-size: $icon-size-default;
     -webkit-font-smoothing: antialiased;
     line-height: 1;
}

.aa-icon:before {
     font-family: aa-icons !important;
     font-style: normal;
     font-weight: 400 !important;
     vertical-align: top
}

.no-highlight,
.reset {
     -webkit-tap-highlight-color: transparent;
     outline: 0
}

.clear-fix::after,
.psuedo-content-fill {
     content: "";
     display: block
}

.icon,
.reset {
     margin: 0;
     padding: 0
}

.aa-icon,
.icon {
     text-rendering: auto
}

.icon.aa-icon,
.icon.fa {
     font-size: $icon-size-default;
     line-height: $icon-size-default
}


.icon {
     position: relative;
     display: inline-block;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale
}

.icon.fa {
     font-family: FontAwesome
}

.icon.aa-icon {
     font-family: aa-icons;
     top: .1em
}

.icon.aa-icon:before {
     position: relative;
     vertical-align: text-bottom
}

.icon.icon--image {
     height: 1em;
     width: 1em;
     vertical-align: text-bottom;
     top: -.1em
}

.icon.icon--image>.icon-image-container {
     position: relative;
     width: 100%;
     height: 100%
}

.icon.icon--image>.icon-image-container>.icon-image {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     border: none
}

.icon.icon--block {
     display: block;
     top: 0
}



.input-disabled {
     cursor: default;
     cursor: not-allowed
}

.no-highlight::-moz-focus-inner,
.reset::-moz-focus-inner {
     border: 0
}

.reset {
     background: 0 0;
     border: 0 solid transparent;
     border-collapse: separate;
     border-spacing: 0;
     box-sizing: border-box
}

.reset::-moz-focus-inner {
     border: 0
}

.no-select {
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none
}

.clear-fix::after {
     position: relative;
     overflow: hidden;
     height: 0;
     clear: both
}

.psuedo-content-fill {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%
}

@keyframes focusable--focused {

     0%,
     90% {
          opacity: 1
     }

     100% {
          opacity: 0
     }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
p:first-child {
     margin-top: 0
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
p:last-child {
     margin-bottom: 0
}

@keyframes icon-animate--spin {
     0% {
          transform: rotate(0)
     }

     100% {
          transform: rotate(360deg)
     }
}

@keyframes icon-animate--spin-step {
     0% {
          transform: rotate(0)
     }

     12.5% {
          transform: rotate(45deg)
     }

     25% {
          transform: rotate(90deg)
     }

     37.5% {
          transform: rotate(135deg)
     }

     50% {
          transform: rotate(180deg)
     }

     62.5% {
          transform: rotate(225deg)
     }

     75% {
          transform: rotate(270deg)
     }

     87.5% {
          transform: rotate(315deg)
     }

     100% {
          transform: rotate(360deg)
     }
}

@keyframes icon-animate--ring {
     0% {
          transform: rotate(-15deg)
     }

     2% {
          transform: rotate(15deg)
     }

     12%,
     4% {
          transform: rotate(-18deg)
     }

     14%,
     6% {
          transform: rotate(18deg)
     }

     8% {
          transform: rotate(-22deg)
     }

     10% {
          transform: rotate(22deg)
     }

     16% {
          transform: rotate(-12deg)
     }

     18% {
          transform: rotate(12deg)
     }

     100%,
     20% {
          transform: rotate(0)
     }
}

@keyframes icon-animate--wrench {

     0%,
     8% {
          transform: rotate(12deg)
     }

     10%,
     28%,
     30%,
     48%,
     50%,
     68% {
          transform: rotate(24deg)
     }

     18%,
     20%,
     38%,
     40%,
     58%,
     60% {
          transform: rotate(-24deg)
     }

     100%,
     75% {
          transform: rotate(0)
     }
}

@keyframes icon-animate--horizontal {

     0%,
     100% {
          transform: translate(0, 0)
     }

     18%,
     30%,
     6% {
          transform: translate(2px, 0)
     }

     12%,
     24%,
     36% {
          transform: translate(-2px, 0)
     }
}

@keyframes icon-animate--vertical {

     0%,
     100% {
          transform: translate(0, 0)
     }

     18%,
     30%,
     6% {
          transform: translate(0, 2px)
     }

     12%,
     24%,
     36% {
          transform: translate(0, -2px)
     }
}

.icon.icon--animate-none {
     animation: none
}

.icon.icon--animate-spin {
     animation: icon-animate--spin 1.5s infinite linear
}

.icon.icon--animate-spin-step {
     animation: icon-animate--spin-step 1.5s steps(1, end) infinite
}

.icon.icon--animate-ring {
     animation: icon-animate--ring 3s linear infinite
}

.icon.icon--animate-wrench {
     animation: icon-animate--wrench 3s linear 2s infinite
}

.icon.icon--animate-horizontal {
     animation: icon-animate--horizontal 3s linear infinite
}

.icon.icon--animate-vertical {
     animation: icon-animate--vertical 3s linear infinite
}
