/* Variables */
/* NOTE: All spacing, padding, heights, etc. are based on 8pt grid; Divisible by even number such as 4 or 8px */

/* Display Sizes */
$display--xl: 1600px;
$display--default: 1440px;
$display--sml: 1366px;

/* Color */
$border-color: #8c8c8c;
$white: #fff;

$mineshaft: #333;
$mineshaft1-1: #464646;
$mineshaft1-2: #5A5A5A;
$mineshaft1-3: #6F6F6F;
$mineshaft1-4: #838383;
$mineshaft1-6: #ADADAD;
$mineshaft1-7: #B8C4D1;
$mineshaft1-8: #D6D6D6;
$mineshaft1-9: #EAEAEA;
$mineshaft1-10: #f5f5f5;

$blue: #133A65;
$blue1-1: #2B4E74;
$blue1-2: #426184;
$blue1-3: #5A7593;
$blue1-4: #7189A3;
$blue1-5: #899CB2;
$blue1-6: #A1B0C1;
$blue1-7: #B8C4D1;
$blue1-8: #D0D8E0;
$blue1-9: #E7EBF0;

$solar: #FFBC03;
$solar1-1: #F3BB1C;
$solar1-2: #F5C235;
$solar1-3: #F6CA4F;
$solar1-4: #F7D168;
$solar1-5: #FCDB81;

$magma: #FF5A10;


$high-contrast: $white;
$low-contrast: $blue1-3;

/* Layout */
$header-height--xl: 64px;
$header-height--default: 40px;
$header-height--small: 32px;

